@use '../../styles/variables' as *;

.image {
	max-width: 298px;
	box-shadow: -25px -25px 6px #f0b2b250;
	margin: 38px 14px 38px 0;
}

.container {
	display: flex;
	background-color: $pinkBlock-color;
}

.textContainer {
	display: flex;
	flex-direction: column;
}

.button {
	margin: 0 auto;
	background: none;
	font-size: 36px;
	font-family: $font-cursive;
	color: $button-color;
	cursor: pointer;
	transition: color 0.3s ease;
}
.button:hover {
	color: $title-2-color;
}
