.input {
	display: flex;
	flex-direction: column;
	gap: 10px;

	input {
		font-size: 19px;
		padding: 10px 14px;
		letter-spacing: 0;
		border-radius: 12px;
		border: 1px solid black;
	}
	p {
		font-size: 15px;
		color: rgb(189, 0, 0);
	}
}
