@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap');

$background-color: white;
$pinkBlock-color: #ffeeee;

$font-text-main: 'Roboto', sans-serif;

$font-text-second: 'Playfair Display', sans-serif;

$font-cursive: 'Great Vibes', cursive;

$title-2-color: #dd8686;

$button-color: #810000;
